@charset "utf-8";
/* CSS Document */

body{
	background: url(../wnoise.jpg);
	font-family: sans-serif;
	font-weight: 800;
	color: #333;
	margin: 0;
	overflow-y:hidden;
}

h1 {
	font-size: 1.3em;
	text-align: left;
	-webkit-margin-start: 20px;
}

li {
	list-style:none;
	cursor: pointer;
	float: left;
	width: 100%;
	text-align: left;
}

li:hover {
	background: #ff6100;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 20px;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	-webkit-user-select: none;
	height: 10%;
}

.darken{
	height: 100%;
	width: 10%;
	position: absolute;
	background: #000;
	opacity: 0.8	;
}

.sidebar {
	position: absolute;
	margin: 0;
	width: 10%;
	height: 100%;
	color: #eee;
	-webkit-user-select: none;
}


#clearbtn {
	cursor: pointer;
}

#clearbtn:hover {
	background: #ff6100;
}


/***********MAPS***************/

#maps{
	text-align: left;
	position: absolute;
	top: 150px;
}

.map {
	height: 18px;
	-webkit-margin-start: 20px;
}

.map:hover {
	cursor: pointer;
	background: #ff6100;
}



/************DRAW**************/
#canvas {
	background: #000;
	background-size:contain;
	z-index: 100;
	max-height: 100%;
}

#canvaswrapper:active {
	cursor: pointer;	
}

#canvas:active {
	cursor: pointer;
}

#canvas svg:active {
	cursor: pointer;
}

#canvas svg {
	min-height: 100%;
	height: auto !important;
	height: 100%;
    width: 100%;
    margin: 0 auto;
    z-index: 1337;
}

#canvaswrapper {
	position: absolute;
	top: 0; 
	left: 10%;
	width: 90%;
	height: 100%;
	background: #111;	
	margin: 0 auto;
}

#canvascolours [data-colour] {
	width: 70px;
	height: 18px;
	cursor: pointer;
	border: 1px black solid;
	margin: 10px 20px;
}

#canvascolours {
	position: absolute;
	top: 350px;
	width: 100%;
	height: 300px;
	margin-top: 40px;
}

#feedback {
	height: 50px;
	background: #eee;
}

#save{
	cursor: pointer;
} 

#save:hover{
	background: #ff6100;
} 

#functions {
	position: absolute;
	top: 750px;
	left: 20px;
}

#undo, #redo {
	cursor: wait;
}